@import "normalize.css";
@import "reset";

@import "variables/global.scss";
@import "themes/light.scss";
@import "themes/dark.scss";

html,
body,
#root {
  // min-height: 100%;
  height: 100%;
}

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background-color: var(--bg-color);
  min-height: 100%;
  height: 100%;
}

.content-page {
  display: flex;
  height: calc(100% - var(--navebar-height));
}
.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
