@import "normalize.css";
@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap");
@import "variables/global";
@import "themes/light";
@import "themes/dark";

html,
body,
#root {
    font-family: var(--font-family-main);
    height: 100%;
}

.app {
    font: var(--font-m);
    color: var(--primary-color);
    background-color: var(--bg-color);
    min-height: 100%;
    height: 100%;
}

.content-page {
    display: flex;
    height: calc(100% - var(--navebar-height));
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
