.articleDetails {
    min-height: 100%;
}

.avatarWrapper {
    width: 100%;
}

.avatar {
    display: block;
    margin: 0 auto;
}

.title {
    margin-top: 30px;
}

.subtitle {
    margin-top: 15px;
}

.articleInfo {
    display: flex;
    align-items: center;
}

.paragraph {
    margin-top: 25px;
}

.icon {
    margin-right: 0.7em;
}

.block {
    margin-top: 16px;
}
