.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    will-change: width;
    transition: width 0.3s;
    flex-shrink: 0;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
    width: 100%;
}

.itemList {
    padding: 20px 10px;
    list-style: none;
}

.linkItem {
    opacity: 1;
    overflow: hidden;
    transition: opacity 0.8s, height 0.9s 1s, width 0.9s 2s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
    }

    .itemList {
        align-items: center;
    }

    .linkItem {
        opacity: 0;
        height: 0;
        width: 0;
        transition: opacity 0.8s, height 0.9s 1s, width 0.9s 2s;
    }

    .iconItem {
        margin-right: 0;
    }
}

.collapseBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(100%, -50%);
    z-index: 10;
}
