.articleListItem {
    // margin: 15px;
}

.LIST {
    width: calc(100%);

    .views {
        margin-left: auto;
    }

    .header {
        display: flex;
        align-items: center;
    }

    .username {
        margin-left: 1em;
    }

    .date {
        margin-left: auto;
    }

    .title {
        margin-top: 8px;
    }

    .img {
        width: calc(100% - 32px);
        max-height: 250px;
        object-fit: cover;
        margin: 16px;
    }

    .textBlock {
        max-height: 200px;
        overflow-y: hidden;
        margin-bottom: 16px;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .viewsIcon {
        margin-left: 8px;
    }
}

.GRID {
    width: 230px;
    opacity: 0.9;
    transition: opacity 0.3s, scale 0.7s;
    text-decoration: none;
    cursor: pointer;

    .date {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
    }

    &:hover {
        opacity: 1;
        transform: scale(1.01);

        .date {
            display: block;
        }
    }

    .imageWrapper {
        width: 200px;
        height: 200px;
        position: relative;
    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .infoWrapper {
        margin-top: 8px;
        display: flex;
        align-items: center;
    }

    .types p {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .views {
        margin-left: auto;
        margin-right: 8px;
    }

    .viewsIcon {
        width: 20px;
        height: 20px;
    }

    .title p {
        margin-top: 8px;
        width: 190px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
