.list {
    &Box {
        position: relative;
        display: inline-block;
        min-width: 0;
    }

    &Button {
        background-color: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    &Options {
        position: absolute;
        list-style-type: none;
        background-color: var(--list-bg);
        border-radius: 4px;
        z-index: 100;
        box-shadow: 4px 4px 8px var(--list-bg);
        border: 1px solid var(--primary-color);
        min-width: 100%;

        &Bottom {
            &Left {
                top: 100%;
                right: 0;
            }

            &Right {
                top: 100%;
                left: 0;
            }
        }

        &Top {
            &Left {
                bottom: 100%;
                right: 0;
            }

            &Right {
                bottom: 100%;
                left: 0;
            }
        }
    }

    &Item {
        padding: 8px 16px;
        border: 1px solid transparent;
    }
}

.selected {
    background-color: var(--list-active);
}

.active {
    border: 1px solid var(--sec-color);
}

.disabled {
    opacity: 0.65;
}
