.app_dark_theme {
    --bg-color: #0e0e75;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #0f0;
    --sec-color: #51b351;
    --inverted-primary-color: #6565e4;
    --inverted-sec-color: #9c9ce2;

    // code
    --code-bg-color: #1313a4;

    // article card
    --card-bg: #1919d2;

    // listbox
    --list-bg: #1919d2;
    --list-active: #0e0e75;
}
