.app_green_theme {
    --bg-color: #0e9e32;
    --inverted-bg-color: #f5faf6;
    --primary-color: #f5faf6;
    --sec-color: #f5faf6;
    --inverted-primary-color: #0e9e32;
    --inverted-sec-color: #f5faf6;

    // code
    --code-bg-color: #12ce41;
}
