.commentItem {
    padding: 16px;
    border: 1px solid var(--primary-color);
}

.header {
    display: flex;
    align-items: center;
}

.content {
    margin-top: 0.7rem;
}

.username {
    margin-left: 1em;
}
