.list {
    &Box {
        display: inline-block;
        min-width: 0;
    }

    &Button {
        background-color: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    }

    &Options {
        position: absolute;
        list-style-type: none;
        background-color: var(--list-bg);
        border-radius: 4px;
        z-index: var(--popup-z-index);
        box-shadow: 4px 4px 8px var(--list-bg);
        border: 1px solid var(--primary-color);
        min-width: 100%;
    }

    &Item {
        padding: 8px 16px;
    }
}
