.list {
    list-style-type: none;
    background-color: var(--card-bg);
    position: absolute;
    z-index: var(--popup-z-index);
    border-radius: 8px;
    border: 1px solid var(--primary-color);
}

.item {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid transparent;
    background: none;
    outline: none;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
