name: linting, testing and building
on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  pipeline:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 17.x
    steps:
      - uses: actions/checkout@v2
      - name: Starting Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm install
      - name: build production project
        run: npm run build:prod
      - name: linting typescript
        run: npm run lint:ts
      - name: linting style
        run: npm run lint:scss
      - name: testing unit
        run: npm run test:unit
